{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for review in reviews %}
<div class="card" style="width: 60rem;">
  <img src="{% static  review.reviewsminiaturesimages_set.get.miniature_image %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{review.title}} {{review.date_of_publishing}}</h5>
    <p class="card-text">{{review.description}}</p>
    <a href="{% url 'reviews-detail' review.id %}" class="btn btn-primary">To review</a>
  </div>
</div>
{% endfor %}
{% endblock %}